.app-calendar {
  @import "../../assets/scss/calendarStyle/calendar";
  a {
    color: #3f51b5!important;
  }
  .rbc-toolbar button:active:focus, .app-calendar .rbc-toolbar button.rbc-active:focus {
    outline: none;
  }
  .rbc-active {
    outline: none;
  }
  table {
    border-collapse: collapse;
  }
}
